<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
</head>
<body>

<h1>变异方法Push实现评论功能</h1>
<hr>

<div id="app">
    <ul>
        <li v-for="comment in comments">
            {{ comment }}
        </li>
    </ul>

    <textarea name="" id="" cols="30" rows="10" v-model="curComment"></textarea><br>
    <button type="button" v-on:click="push">发表</button>

</div>

<script>
    var app = new Vue({
        // element
        el: '#app',
        data: {
            curComment: "",
            comments: [
                "comment01",
                "comment02"
            ]
        },
        methods: {
            push(){
                this.comments.push(this.curComment);
                this.curComment = "";
            }
        }
    });
</script>
</body>
</html>